<!DOCTYPE html>
<html>
    <head>
        <title>Food Search</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        <main>
            <div class = "title" style="background-image: url('https://freerangestock.com/sample/166038/fresh-ingredients-for-healthy-cooking-on-white.jpg');"><mark>Food Search</mark></div>
            <div class = "subtitle"><h2>Explore the Data Set</h2></div>
            <div class="input-form">
                <form autocomplete="off" id="categoryForm" method="get">
                    <label for="category"><h2>Enter A Category of Food:</h2></label>
                    <div class="autocomplete">
                        <input class="text" id="categoryInput" type="text" name="category" placeholder="Enter a food, ie cheese...">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                    <br>
                </form>
            </div>
            <br>
            <!-- Retrieved from google search, https://www.google.com/search?q=how+to+separate+javascript+into+separate+file&oq=how+to+separate+javascript+into+separate+file&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yCAgCEAAYFhgeMggIAxAAGBYYHjINCAQQABiGAxiABBiKBTINCAUQABiGAxiABBiKBTIHCAYQABjvBTIHCAcQABjvBdIBCDc1NjJqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8-->
            <script src="../static/autocomplete.js"></script>
            <script>
                /*An array containing the foods in our data set:*/
                autocomplete(document.getElementById("categoryInput"));
              
                // script run to submit the form input to the url
                document.getElementById('categoryForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var categoryInput = document.getElementById('categoryInput').value;
                window.location.href = '/list/' + categoryInput;
                });
            </script>
            <div class = "info">
                <h3>Suggested Searches:</h3>
                <p><a href="/list/CHEESE">cheese</a></p>
                <p><a href="/list/MILK">milk</a></p>
                <p><a href="/list/CHICKEN">chicken</a></p>
                <p><a href="/list/SOUP">soup</a></p>
                <p><a href="/list/PINEAPPLE">pineapple</a></p>
                <p><a href="/list/SHRIMP">shrimp</a></p>
            </div>
            <br>
            <div class = "info" id="abbreviations">
                <h3>An Unexaustive List of Some of the Common Abbreviations In the Data Set</h3>
                <ul>
                    <li>APPL: Apple</li>
                    <li>AR: Artificial (example: Artificial flavor)</li>
                    <li>AVG: Average</li>
                    <li>BF: Beef</li>
                    <li>BLEND: Blend</li>
                    <li>BLD: Blended</li>
                    <li>BND: Blended</li>
                    <li>CKD: Cooked</li>
                    <li>CND: Canned</li>
                    <li>CM: Centimeters</li>
                    <li>COCNT: Coconut</li>
                    <li>CRM: Cream</li>
                    <li>CRL: Cereal</li>
                    <li>DSSRT: Dessert</li>
                    <li>DRND: Drained</li>
                    <li>FB: Fat Free</li>
                    <li>FLR: Flour</li>
                    <li>FLUID: Liquid</li>
                    <li>FRZ: Frozen</li>
                    <li>GLUCOSE RED: Glucose Reduced</li>
                    <li>GRND: Ground</li>
                    <li>GRN: Green (as in green peppers)</li>
                    <li>GRN PEPPERS: Green peppers</li>
                    <li>HT: Hot</li>
                    <li>INST: Instant</li>
                    <li>JUC: Juice</li>
                    <li>JR: Junior</li>
                    <li>KG: Kilograms</li>
                    <li>LBS: Pounds</li>
                    <li>LD: Lightly</li>
                    <li>LIQ CONC: Liquid Concentrate</li>
                    <li>LT: Light</li>
                    <li>LO CAL: Low Calorie</li>
                    <li>LOFAT: Low Fat</li>
                    <li>LF: Low Fat</li>
                    <li>MXD: Mixed</li>
                    <li>N/A: Not Applicable</li>
                    <li>OR: Orange</li>
                    <li>PDR: Powder</li>
                    <li>PEP: Peppers</li>
                    <li>PNT: Peanut</li>
                    <li>PREP: Prepared (example: prepared with whole milk)</li>
                    <li>QT: Quart</li>
                    <li>RED FAT: Reduced Fat</li>
                    <li>RT: Ready to</li>
                    <li>RTF: Ready to Feed</li>
                    <li>SHRD: Shredded</li>
                    <li>SPRD: Spread</li>
                    <li>SVD: Steamed, vacuum dried</li>
                    <li>STWD: Stewed</li>
                    <li>STR: Stage (for example, Stage 1, Stage 2, Stage 3)</li>
                    <li>SWT: Sweet</li>
                    <li>SWTND: Sweetened</li>
                    <li>TODD: Toddler</li>
                    <li>TIDBITS: Small pieces or portions</li>
                    <li>TOMATO JUC: Tomato Juice</li>
                    <li>VEG: Vegetables</li>
                    <li>VIT: Vitamin</li>
                    <li>VIT A: Vitamin A</li>
                    <li>VIT C: Vitamin C</li>
                    <li>W: With</li>
                    <li>W HERBS&CHS: With herbs and cheese</li>
                    <li>WO: Without</li>
                    <li>WHL: Whole</li>
                </ul>
            </div>
        </main>
        <header>
            <a href="/"><img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg"></a>
            <h1><a href="/"> Nutritrack</a></h1>
            <nav>
                <ul>
                    <li><a href="/nutrients/">Nutrient Information</a></li>
                    <li><a href="/food-search/">Food Search</a></li>
                    <li><a href="/recommendations/">Daily Recommendations</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>