<html>
    <head>
        <title>Food Search</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        <header>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg">
            <h1><a href="/"> Nutritrack</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/nutrients/">Nutrient Information</a></li>
                    <li><a href="/recipes/">Recipes</a></li>
                    <li><a href="/food-search/">Food Search</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class = "input-form">
                <form id="categoryForm" method="get">
                    <label for="category"><h2>Enter A Category of Food:</h2></label>
                    <input class="text" type="text" id="categoryInput" name="category" placeholder="Enter a food, ie cheese...">
                    <input class="submit" type="submit" value="Submit">
                </form>
                <!-- Retrieved from https://www.w3schools.com/tags/tag_script.asp -->
                <script>
                    document.getElementById('categoryForm').addEventListener('submit', function(event) {
                        event.preventDefault();
                        var categoryInput = document.getElementById('categoryInput').value;
                        window.location.href = '/list/' + categoryInput;
                    });
                </script>
                <br>
            </div>
            <div class = "info">
                <h3>Suggested Searches:</h3>
                <p>cheese</p>
                <p>milk</p>
                <p>chicken</p>
                <p>soup</p>
                <p>pineapple</p>
                <p>shrimp</p>
                <h3>And Anything Else You Need!</h3>
            </div>
        </main>
    </body>
</html>