<html>
    <head>
        <link rel="stylesheet" href="../static/datastyle.css"/>
        <title>Nutrition Search</title>
    </head>
    <body>
        <header>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg">
            <h1>Nutritrack</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list/">Food Search</a></li>
                    <li><a href="/health-facts/">Nutrition Facts</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p><h1>Nutrition Facts</h1></p>
        </main>
        <div>
            <h2>Find nutrition facts for specific foods</h2>
            <p>Enter the specific food item you would like to search up after "/healh-facts/".</p>
            <p>If the item was not found, make sure it exists using the "/list/" command.</p>
        </div>
    </body>
</html>