<html>
    <head>
        <link rel="stylesheet" href="../static/datastyle.css"/>
        <title>Food Search</title>
    </head>
    <body>
        <header>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg">
            <h1>Nutritrack</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list/">Food Search</a></li>
                    <li><a href="/health-facts/">Nutrition Facts</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p><h1>Food Search</h1></p>
        </main>
        <div>
            <h2>Find specific foods in the database</h2>
            <p>Enter the food you would like to search up after "/list/".</p>
            <p>You can click on each food item to see their nutrition facts.</p>
        </div>
    </body>
</html>