<!DOCTYPE html>
<html> 
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
    <body>
        <header>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg">
            <h1>Nutritrack</h1>
            <nav>
                 <ul>
                     <li><a href="/">Home</a></li>
                     <li><a href="/list/">Food Search</a></li>
                     <li><a href="/health-facts/">Nutrition Facts</a></li>
                 </ul>
             </nav>
         </header>
         <main>
            <p><h1>NUTRITRACK</h1></p>
        </main>
        <div>
            <h2>Find food items in the database</h2>
            <p>Use this feature first to narrow down your search. Enter a food category like cheese, milk, or egg to find specific food items.</p>
        </div>
        <div>
            <h2>Find nutrition info for foods</h2>
            <p>Once you find the food item you want, you can search it up using "/health-facts/" to find the nutrition facts for that food.</p>
        </div>
    </body>
</html>