<html> 

<head>
<link rel="stylesheet" href="../static/datastyle.css"/>
<title>Nutrition facts database</title>
</head>

<body>
<h1>What's in my Food?</h1>

<div>
<nav>
<ul>
<li><a href="/list/">Food Search</a></li>
<li><a href="/health-facts/">Nutrition Facts</a></li>
</ul>
<nav>
</div>

<div>
<h2>Find food items in the database</h2>
<p>Use this feature first to narrow down your search. Enter a food category like cheese, milk, or egg to find specific food items.</p>
</div>

<div>
<h2>Find nutrition info for foods</h2>
<p>Once you find the food item you want, you can search it up using "/health-facts/" to find the nutrition facts for that food.</p>
</div>

</body>
</html>