<html>
    <head>
        <link rel="stylesheet" href="../static/outpages.css"/>
        <title>Food search</title>
    </head>
    <body>
        <header>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA0L2pvYjY4Ni0yNTUuanBn.jpg">
            <h1><a href="/"> Nutritrack</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/nutrients/">Nutrient Information</a></li>
                    <li><a href="/recipes/">Recipes</a></li>
                </ul>
            </nav>
        </header>